<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog | <%= title%></title>
</head>
<body>
    <nav>
        <div>
            <a href="/"><h1>Shashank</h1></a>
            <p>Frontend Developer</p>
        </div>
        <ul>
            <li>
                <a href="/">Blogs</a>
            </li>
            <li><a href="/about">About</a></li>
            <li><a href="/blogs/create">New Blog</a></li>
        </ul>
    </nav>
    <div>
        <h2>About Page</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum magni dolorum debitis vitae vel at delectus unde aperiam non, explicabo iste provident aut repudiandae amet quae. Vel ratione sed saepe ipsum doloremque est quisquam doloribus natus, ullam, ab eaque eum accusamus molestiae beatae? Nemo similique eligendi, recusandae modi quaerat laborum ullam impedit, vitae obcaecati in aliquam labore corrupti molestias, voluptas cum laudantium suscipit magni pariatur corporis. Ab, suscipit eaque pariatur natus aspernatur, tenetur cum animi iure eligendi dolorum mollitia? Reiciendis fugit blanditiis dolore veritatis, delectus sit perspiciatis ad. Voluptas fugit iusto corrupti maiores nesciunt perferendis obcaecati modi esse, quod dolorum veniam voluptates similique aspernatur! Aperiam, aspernatur sunt! Harum id a, voluptate, ducimus iusto officiis molestiae corporis dolorem placeat ipsum neque excepturi odit at repudiandae repellat tenetur fugit natus quod, voluptatibus unde. Animi, ipsa ipsam? Fugiat error ipsam enim laboriosam quia consequatur cumque nisi similique quaerat autem. Odit aut omnis nemo cupiditate culpa vero quam sit et minima perferendis, corporis nostrum soluta dicta porro nisi! Necessitatibus tempora ipsam dolorum deserunt amet ex possimus officia expedita reprehenderit dolores est, tenetur consectetur distinctio totam quis maxime quam nisi. Dolor officiis voluptatum eius repellat. Quidem quia dolorem debitis nisi minima tempore numquam ut! Nostrum numquam quasi natus sit placeat modi. Eaque, maxime nulla magni itaque quisquam porro quas labore doloribus sed quasi, beatae facilis harum, optio cupiditate voluptatibus. Laudantium, sequi veniam quasi earum neque dolorum ea cumque reprehenderit molestiae voluptatum aut maiores tempore, at eos nemo ad optio quia molestias, blanditiis harum! Ab accusantium quasi obcaecati consectetur ratione est mollitia et facilis, neque itaque aperiam. Asperiores distinctio eos nisi itaque eaque sequi incidunt assumenda explicabo laudantium nostrum temporibus, velit soluta, molestiae accusamus suscipit unde? Atque possimus distinctio facere saepe omnis tenetur deserunt porro officiis amet repellat. Rem possimus eaque placeat veniam praesentium quas, ipsum voluptates. Rerum, minima id laborum ut, sapiente, ipsum perferendis minus praesentium vero nesciunt doloribus pariatur illum eveniet quas repellat commodi tempora ullam? Fugiat, consectetur! Vero quo aperiam tempore facilis totam sit in placeat, sunt itaque enim rerum voluptate, mollitia expedita accusamus consequatur? Soluta, quod maxime! Voluptatum voluptatibus qui magni dignissimos? Libero, placeat corrupti recusandae asperiores vitae eaque fugiat perspiciatis maxime ipsam dicta minus mollitia esse laborum, accusamus ipsum voluptatibus, rem magnam eum quo animi aliquam eligendi unde. Dignissimos, nulla veritatis perferendis velit tenetur recusandae numquam aliquid quam quidem consequatur fugiat esse nihil odio, excepturi, ex delectus libero minima officiis mollitia tempore obcaecati eaque culpa! Expedita sit earum laborum quos totam minima voluptates blanditiis tempora repudiandae dicta nam corporis eius atque sint quasi, quas quaerat at laboriosam vel enim dolorum, maiores sapiente? Illo rerum est laboriosam nam quos, fuga blanditiis deserunt neque? Sed numquam temporibus debitis corporis atque hic tempore modi totam dicta consequatur quidem odit, nihil fugiat labore blanditiis et impedit iusto, perspiciatis dolorum beatae. Ipsa voluptate tempore totam perferendis labore, ullam repellat suscipit asperiores eveniet eos? Possimus tenetur, blanditiis aspernatur ex sequi at fugit, labore placeat sint dolore quaerat natus incidunt saepe vel obcaecati soluta, laborum esse expedita velit?</p>
    </div>
</body>
</html>